.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 200px;
  color: white;
}

.Button {
  display: inline-block;
  padding: 10px 15px;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s all;


  background: #FED540;
  color: white;
  border: 1px solid #FED540;
  border-radius: 30px;
  margin-bottom: 5px;
  margin-top: 5px;

  &:hover {
    background: white;
    border: 1px solid #FED540;
    color: #FED540;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.TextInput {

  width: 30%;
  padding: 8px 12px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: black;
  border: 1px solid #b8b8b5;
  border-radius: 4px;
  transition: border-color .5s;
}

.resultDiv {
  background-color: white;
  width: 50%;
  height: 100%;
  color: #282c34;
}